*.tar.gz
mcv-sps-st-09-2025/
cv-corpus-23.0-2025-09-05/
sps-corpus-1.0-2025-09-05-msi/
tetelancingo_nahuatl/
__pycache__/
.DS_Store
*venv*
scratch.ipynb
*.zip
token_frequency/by_language
*.log
mdc_asr_shared_task_test_data/audios/
